.PURPLE {
    background-color: purple;
}

.DARKGREEN {
    background-color: green;
}

.DARKBLUE {
    background-color: blue;
}

.YELLOW {
    background-color: yellow;
}

.ORANGE {
    background-color: orange;
}

.RED {
    background-color: red;
}

.LIGHTBLUE {
    background-color: lightblue;
}

.VIOLET {
    background-color: violet;
}

.BLACK {
    background-color: black;
}

.WHITE {
    background-color: wheat;
}